<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista de Alunos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<table class="table" border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Matricula</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="aluno : ${alunos}">
        <td th:text="${aluno != null} ? ${aluno.id} : 'id'"> </td>
        <td th:text="${aluno != null} ? ${aluno.nome} : 'nome'"> </td>
        <td th:text="${aluno != null} ? ${aluno.matricula} : 'matricula'"> </td>
    </tr>
    </tbody>
</table>
</body>

</html>